body{
    background-color:black;
}
.overlay{
    z-index:-1;
    height:100vh;
    width:100vw;
    background:rgb(0, 0, 0);
    opacity:60%;
    position:absolute;
    top:0;
}
*{
    color:white;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:50px;
    width:90vw;
    
}

h1{
    font-size:3.2rem;
}
.navbar>img{
    height: 45px;
}
.navbar>a{
    color:white;
    background-color:red;
    border-radius:3px;
    padding:7px 17px;
    text-decoration:none;

}

.banner-wrap{
    background-image: url(the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:100vh;
    border-bottom: 10px solid #222222;
    position:relative;
    z-index:1;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
.banner-container{
    justify-content:center;
    height:80vh;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.get_started_form{
    display:flex;
    align-items:center;
    flex-direction:column;
}
.button{
    background-color:red;
    color:white;
    padding:20px;
    border-radius:3px;
    border:none;
}
.button:hover{
    background-color:darkred;
    cursor:pointer;
}
.email{
    padding:20px;
    border-radius:3px;
    border:1px rgb(218,214,214) solid;
    opacity:50%;
}
.card-tilte{
    font-size:3.125rem;
    margin-bottom:0.5rem;
    line-height:1.1;
    font-weight:600;
}
.email:hover{
    background-color: rgb(218, 214, 214);
    cursor:pointer;
}
.card-subtilte{
    font-size:1.625rem;
    font-weight:400;
}
.footer ul li{
    color:#757575;
}
.footer ul li:hover{
    text-decoration:underline;
    cursor:pointer;
}
.footer_links{
    list-style-type:none;
    columns:4;
}
.footer_line{
    color:#757575;
    padding-left:40px;
}

.info-container{
    margin: 0 20px 200px 0;
    
}