.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:45px;
    width:90vw;
    
}
h1{
    font-size:3.2rem;
}
.navbar>img{
    height: 45px;
}
.navbar>a{
    color:white;
    background-color:red;
    border-radius:3px;
    padding:7px 17px;
    text-decoration:none;

}
body{
    background-image: url(the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg);
    background-attachment: fixed;
}
.banner-wrap{
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.banner-container{
    height:80%;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.get_started_form{
    display:flex;
    align-items:center;
    flex-direction:column;
}