body{
    background-color:black;
}
.overlay{
    z-index:-1;
    height:100%;
    width:100%;
    background:black;
    opacity:60%;
    position:absolute;
    top:0;
}
*{
    color:white;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:50px;
    width:90vw;
    
}

h1{
    font-size:3.2rem;
}
.navbar>img{
    height: 45px;
}
.navbar>a{
    color:white;
    background-color:red;
    border-radius:3px;
    padding:7px 17px;
    text-decoration:none;

}

.banner-wrap{
    background-image: url(the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:100vh;
    border-bottom: 10px solid #222222;
    position:relative;
    z-index:1;
    width:100vw;
}
.banner-container{
    height:80vh;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.get_started_form{
    display:flex;
    align-items:center;
    flex-direction:column;
}
.card-tilte{
    font-size:3.125rem;
    margin-bottom:0.5rem;
    line-height:1.1;
    font-weight:600;
}
.card-subtilte{
    font-size:1.625rem;
    font-weight:400;
}
.footer ul li{
    color:#757575;
}
.footer ul li:hover{
    text-decoration:underline;
    cursor:pointer;
}