

body{
    background-color:black;
    font-family:sans-serif;
    font-size:75%;
    margin:0px;
}
*{
    font-family:unset;
    
}
.default-ltr-iqcdef-cache-17hp4kx{
    width:150px;
    fill:rgb(229, 9, 20);
}
.overlay{
    z-index:-1;
    height:100vh;
    width:100vw;
    background:rgb(0, 0, 0);
    opacity:70%;
    position:absolute;
    top:0;
}
*{
    margin:0;
    color:white;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:50px;
    width:calc(80vw);
    margin:24px;
    
}

h1{
    font-size:3.2rem;
}
.Logo{
    width:150px;
}
.signin{
    display:flex;
    color:white;
    font-weight:700;
    font-size:13px;
    background-color:rgb(229, 9, 20);
    border-radius:3px;
    padding:7px 17px;
    height:20px;
    width:50px;
    justify-content:center;
    align-items:center;

}
.signin a{
    text-decoration:none;

}
.banner-wrap{
    background-image: url(/assets/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    height:100vh;
    position:relative;
    z-index:1;
    width:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
.banner-container{
    justify-content:center;
    height:80vh;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.banner-container h1{
    font-weight:900;
    font-family:sans-serif;
    font-size:3.5rem;
    margin-bottom: 30px;
}
.banner-container p{
    margin-bottom:20px;
    font-weight:900;
    font-size:15px;
}
.get_started_form{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.get_started_form p{
    font-weight:450;
    font-size:18px;
}
#Email_button{
    display:flex;
    flex-direction:row;
    margin-top:1px;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:70px;
}
.button{
    background-color:rgb(229, 9, 20);
    color:white;
    padding:17px;
    border-radius:3px;
    border:none;
    width:15vw;
    font-size:1.5rem;
    font-weight:700;
    margin-left:8px;
    height:57px;
    text-align:center;
}
.button:hover{
    background-color:darkred;
    cursor:pointer;
}
.email{
    background-color:black;
    padding:20px;
    border-radius:3px;
    border:1px rgb(255, 255, 255) solid;
    opacity:50%;
    width:27vw;
    margin-left:-140px;
    
}
.emaillabel{
    position:relative;
    color: rgb(255, 255, 255);
    font-size:18px;
    font-weight:450px;
    opacity:100%;
}
.card-tilte{
    font-size:3.125rem;
    margin-bottom:0.5rem;
    line-height:1.1;
    font-weight:600;
}
.email:hover{
    background-color: rgb(218, 214, 214);
    cursor:pointer;
}
.card-subtilte{
    font-size:1.625rem;
    font-weight:400;
    align-items:center;
}

.curve-container{
    width:100vw;
    height:4rem;
    box-sizing:border-box;
    overflow-x:hidden;
    position:relative;
    z-index:1;
}

.curve{
    box-sizing:border-box;
    position:absolute;
    height:100%;
    border: 0.25rem solid #e00d1f;
    border-top-left-radius: 90% 100%;
    border-top-right-radius: 90% 100%;
    border-left:0px;
    border-right:0px;
    border-bottom: none;
    background: radial-gradient(80% 500% at 50% -400%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    background-clip: padding-box;
    width:100vw;
}

.info-container{
    font-family: sans-serif;
    padding:2px;
    display:flex;
    flex-direction:row;
    height:auto;
    align-items:center;
    margin-left:50px;
    margin-right: 50px;
}
.info-container p{
    font-family:sans-serif;
    font-weight:500;
    font-size:15px;
    
}

.tv{
    margin-left:10vw;
    height:400px;
}

.tv img{
    position:relative;
    height:400px;
    z-index:+1;
}
.tv video{
    position:relative;
    bottom:320px;
    height:220px;
    left:70px;
}

.trending_movies{
    margin: 5px 13vw;
    display:flex;
    flex-direction:row;
    overflow-x:scroll;
    overflow-y:hidden;
    width:70vw;
    height:300px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.trending_movies_title{
    font-size:30px;
    margin-left:13vw;
}

.trending_movies img{
    border-radius:10px;
    height:230px;
    margin: 25px;
}
.trending_movies_index{
    font-size:90px;
    position:relative;
    right:0px;
    bottom:145px;
    color:black;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    font-weight:900;
    -webkit-text-stroke: 0.1rem rgb(255, 255, 255);
    height:1em;
}

.movie{
    margin:0px;
}

.more_reasons_title{
    font-size:30px;
    margin-left:13vw;
    margin-top:50px;
}

.more_reasons_box{
    margin: 15px 13vw;
    display:flex;
    flex-direction:row;
    width:70vw;
    height:300px;
}

.box{
    width:calc(70vw/4);
    padding:10px;
    padding-top:20px;
    height:250px;
    border-radius:13px;
    margin-right:15px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
}

.box_title{
    font-size:23px;
}

.box_subtitle{
    padding: 20px 0px;
    font-size:15px;
    font-weight:500;
    color:rgba(255, 255, 255, 0.7);
}

.icon1{
    position:relative;
    left:123px;
    top:40px;
}

.icon2{
    position:relative;
    left:123px;
    top:0px;
}

.icon3{
    position:relative;
    left:123px;
    top:55px;
}

.icon4{
    position:relative;
    left:123px;
    top:15px;
}

.FAQ_section{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
    justify-content:center;
    align-items:center;
}

.FAQ_title{
    font-size:30px;
    margin-left:13vw;
    margin-top:50px;
    margin-bottom:15px;
}

.FAQ_box{
    margin: 3px 13vw;
    display:flex;
    flex-direction:row;
    width:70vw;
    height:auto;
}

.FAQ_item{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: rgb(45, 45, 45);
    height:65px;
    align-items:center;
    width: 70vw;
    padding:10px;
    margin-bottom:0.2px;
}

.FAQ_item:hover{
    background-color:rgb(56, 56, 56);
}

.FAQ_item h2{
    font-size:25px;
    font-weight:500;
}

.FAQ_item_dropdown{
    width:70vw;
    height:auto;
    font-size:25px;
    font-weight:500;
    background-color: rgb(45, 45, 45);
    padding:10px;
    align-items:center;
}


.footer{
    margin-right:10vw;
    margin-left:10vw;
    margin-top:60px;
    margin-bottom:60px;
    width:85vw;
}

.footer ul li{
    color:rgba(255, 255, 255, 0.7);
    font-size:13px;
    margin:15px;
    font-weight:520;
    text-decoration:underline;
}
.footer ul li:hover{
    cursor:pointer;
}
.footer_links{
    list-style-type:none;
    columns:4;
}
.footer_line{
    color:rgba(255, 255, 255, 0.7);
    padding-left:50px;
    font-size:15px;
    font-weight:520;
    padding-bottom:20px;
}

.footer_p{
    color:rgba(255, 255, 255, 0.7);
    padding-left:50px;
    font-size:15px;
    font-weight:520;
}
.footer_button{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:50px;
    margin-top:40px;
    margin-bottom:40px;
    width:130px;
    height:33px;
    color:white;
    background-color:black;
    border:solid white 0.00001px;
    border-radius:3px;
    font-size:15px;
    font-weight:550;

}
.footer_svg{
    margin-right:5px;
}
.footer_p2{
    padding-left:50px;
    font-size:13px;
    font-weight:200;
    margin-top:40px;
    color:rgba(255, 255, 255, 0.514);
}

.footer_p2 a{
    color:rgb(68, 142, 244);
    text-decoration:underline;
}
@media screen and (max-width:805px){
    .info-container{
        display:none;
    }
}